<div class="container-compose">
    <form class="compose" action="/compose" method="POST">
        <input type="text" name="postTitle" placeholder="Post title 1">
        <textarea name="postContent" placeholder="Post content 1"></textarea>
        <button type="submit" value="Post">Post</button>
    </form>
</div>